.account {
    background: var(--background-color);
}
.account-content{
    display: grid;
    padding-top: 50px;
    .account-title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        color: #fff;
    }
}

/* .account-avatar {
   display: ;
} */

.account-main {
    display: grid; 
    grid-template-columns: 400px 650px;
    
}

.account-info-main__layout {
    display: grid;
    grid-template-columns: 300px 300px;
    padding: 10px 10px;
}

.account-info-main__item {
    padding: 10px;
}



.account-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.account-avatar__redact {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--color-light);
    width: 249px;
    height: 32px;
    border-radius: 20px;
    background: linear-gradient(90deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%);
}

.account-info__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #c06c84;
}

.account-info-main__item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--color-light);
}


.account-info-other__title span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #c06c84;
}

.account-public__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--color-light);
}

.account-music__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.account-public {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.account-public input {
    width: 50px;
    /* height: 20px; */
}

.account-music {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 27px;
    .account-music__btn {
        margin-top: 4px;
        width: 71px;
        height: 24px;
        border: 0.60px solid #797878;
        border-radius: 5px;
        background: #797878;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        color: #000;
    }
}

.account-music input {
    margin-top: 4px;
    width: 318px;
    height: 24px;
    border: 0.60px solid #797878;
    border-radius: 5px;
    color: white;
    background-color: transparent;
} 

.account-music input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #797878;
}


