.footer {
    padding-top: 35px;
    background: var(--background-color);
    background-size: cover;
    
}

.footer-body {
    display: grid;
    grid-template-columns: 250px 220px 410px 550px;
    color: var(--color-light);
    border-top: solid  2px;
    border-image: linear-gradient(90deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%);
    border-image-slice: 1;
    

    .footer-title {
        display: flex;
    }

    .footer-title__logo {
        font-family: 'caveat';
        font-size: 48px;
        font-weight: 400;
        color: var(--color-light);
        
    }

    .footer-about {
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        .footer-about__title {
            font-family: 'inter';
            font-size: 15px;
            font-weight: 400;
            color: var(--color-light);
            padding-bottom: 15px;
        }

        .footer-about__links {
            font-family: 'inter';
            font-size: 14px;
            font-weight: 200;
            color: var(--color-semilight);
            padding-bottom: 15px;
        }
    }
    
    .footer-forUser {
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        .footer-forUser__title {
            font-family: 'inter';
            font-size: 15px;
            font-weight: 400;
            color: var(--color-light);
            padding-bottom: 15px;
        }

        .footer-forUser__links {
            font-family: 'inter';
            font-size: 14px;
            font-weight: 200;
            color: var(--color-semilight);
            padding-bottom: 15px;
        }
     
    }

    .social {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .footer-social {
            display: flex;
        }
        
        .footer-social-contacts {
            display: flex;
            padding: 15px 15px;  
        }
        
        .footer-social__links {
            padding: 13px 13px;
        }
    }
}







